<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="~/css/styles.css"/>
</head>
<body>
  <header>
    <div class="contain">
      <div class="nav-items">
        <h2>Local Portland Businesses</h2>
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Businesses", "Index", "Businesses")
        @Html.ActionLink("Add", "Create", "Businesses")
        @Html.ActionLink("Search", "Search", "Businesses")
      </div>
    </div>
  </header>

  <div class="container content">
    @RenderBody()
  </div>

  <footer class="border-top footer text-muted">
    <div class="contain">
      &copy; 2021 - Chynna Lew - Local Businesses API
    </div>
  </footer>
</body>
</html>
